<div class="container-fluid">
    <div class="another-companies">
        <h5>Bem-vindo ao maior site de emprego em Portugal</h5>
        <p>Este projecto pretende ser um ponto de referencia na area de servicos de oferta</p>
        <p>e procura de emprego atraves da Internet em Portugal</p>
    </div>
    <div class="another-companies-list row">
        <div class="col-12 col-md-3">
            <div class="media">
                <img src="images/blip.png" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">Blip</h5>
                    <a href="#" class="btn btn-primary">SEGUIR</a>
                </div>
            </div>
            <ul>
                <li>QA Enginerr</li>
                <span>PORTO</span>
                <li>Summer Interships</li>
                <span>AVEIRO</span>
                <li>Backend Developer</li>
                <span style="border: 0; padding: 0px">FARO</span>
            </ul>
        </div>
        <div class="col-12 col-md-3">
            <div class="media">
                <img src="images/meo.png" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">MEO</h5>
                    <a href="#" class="btn btn-primary">SEGUIR</a>
                </div>
            </div>
            <ul>
                <li>Assistente de Loja</li>
                <span>FARO</span>
                <li>Gestor de Produto</li>
                <span>PORTO</span>
                <li>Comercial MEO</li>
                <span style="border: 0; padding: 0px">PORTIMAO</span>
            </ul>
        </div>
        <div class="col-12 col-md-3">
            <div class="media">
                <img src="images/continente.png" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">Continente</h5>
                    <a href="#" class="btn btn-primary">SEGUIR</a>
                </div>
            </div>
            <ul>
                <li>Technico AVAC</li>
                <span>LISBOA</span>
                <li>Atendimento ao balcao</li>
                <span>AVERO</span>
                <li>Vendedor</li>
                <span style="border: 0; padding: 0px">FARO</span>
            </ul>
        </div>
        <div class="col-12 col-md-3">
            <div class="media">
                <img src="images/caixa.png" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">BCaixa BI</h5>
                    <a href="#" class="btn btn-primary">SEGUIR</a>
                </div>
            </div>
            <ul>
                <li>Promotor Bancario</li>
                <span>BRAGA</span>
                <li>Assistente de Apoio ao Cliente</li>
                <span>LISBOA</span>
                <li>Assistente Administrativo</li>
                <span style="border: 0; padding: 0px">LISBOA</span>
            </ul>
        </div>
    </div>



</div>