<div class="container-fluid row">
        <div class="col-12 col-md-3 company-list">
            <h5>Candidatos</h5>
            <ul>
                <li>Curriculum On-Line <span><i class="fa fa-check-circle" aria-hidden="true"></i></span></li>
                <li>pesquisa de Emprego <span><i class="fa fa-check-circle" aria-hidden="true"></i></span></li>
                <li>Agentes Automáticos <span><i class="fa fa-check-circle" aria-hidden="true"></i></span></li>
                <li>Caixa de Correio <span><i class="fa fa-check-circle" aria-hidden="true"></i></span></li>
                <li>Sistema de Mensagens <span><i class="fa fa-check-circle" aria-hidden="true"></i></span></li>
                <li>Estatísticas<span><i class="fa fa-check-circle" aria-hidden="true"></i></span></li>
                <li>BannerLink<span><i class="fa fa-check-circle" aria-hidden="true"></i></span></li>
            </ul>
        </div>
        <div class="col-12 col-md-6 radius-box">
            <div class="white-radius">
                <p>500 <span>+</span></p>
            </div>
            <div class="blue-radius">
                <p>150,000 <span>+</span></p>
            </div>
        </div>
        <div class="col-12 col-md-3 company-list-candidates">
            <h5>Empresas</h5>
            <ul>
                <li><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Anuncios de Emprego</li>
                <li><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Pesquisa de C.V.</li>
                <li><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Agentes Automaticos</li>
                <li><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Caixa de Correio</li>
                <li><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Sistema de Mensagens</li>
                <li><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Estatisticas</li>
                <li><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Pagina de</li>
                <li><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>100% Gratuito</li>
            </ul>
        </div>
</div>