<div class="container-fluid">
    <div class="employess">
    <h5>Descobra mils curriculos</h5>
    <div class="employess-contacts">
        <div class="card" style="width: 12rem;">
            <img src="images/susanna.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Susanna Godinho</h5>
                <p class="card-text">SECRETARIA</p>
                <a href="#" class="btn btn-primary">CONTRATAR</a>
            </div>
        </div>
    </div>
    <div class="employess-contacts">
        <div class="card" style="width: 12rem;">
            <img src="images/susanna.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Marco Gomes</h5>
                <p class="card-text">JORNALISTA</p>
                <a href="#" class="btn btn-primary">CONTRATAR</a>
            </div>
        </div>
    </div>
    <div class="employess-contacts">
        <div class="card" style="width: 12rem;">
            <img src="images/susanna.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Viacheslav Moroz</h5>
                <p class="card-text">UI/UZ DESIGNER</p>
                <a href="#" class="btn btn-primary">CONTRATAR</a>
            </div>
        </div>
    </div>
    <div class="employess-contacts">
        <div class="card" style="width: 12rem;">
            <img src="images/susanna.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Paulo Pereira</h5>
                <p class="card-text">DENTISTA</p>
                <a href="#" class="btn btn-primary">CONTRATAR</a>
            </div>
        </div>
    </div>
    <div class="employess-contacts">
        <div class="card" style="width: 12rem;">
            <img src="images/susanna.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Ricardo Nunes</h5>
                <p class="card-text">ADVOGADO</p>
                <a href="#" class="btn btn-primary">CONTRATAR</a>
            </div>
        </div>
    </div>
    </div>

</div>