<div class="container-fluid row m-0">
    <div class="col-12 col-md-6 p-0">
        <div class="infoPay">
            <div class="media">
                <img src="images/loopPay.png" alt="...">
                <div class="media-body">
                    <h5 class="mb-4">Criar curriculo</h5>
                    <p>LoopPay is a mobile-payment system that could power Samsung's smartphone transactions in the future. Here's what we know so far.</p>
                </div>
            </div>
            <div class="icon"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
        </div>
    </div>
    <div class="col-12 col-md-6 p-0">
        <div class="infoPay">
            <div class="media">
                <img src="images/invest.png" alt="...">
                <div class="media-body">
                    <h5 class="mb-4">Criar vaga</h5>
                    <p>It is essential to have a clear understanding about the types, risk, nebefits of mutual fund before investing.</p>
                </div>
            </div>
            <div class="icon"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
        </div>
    </div>
</div>