<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <div id="headerlist">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand logotext" href="#"><span>net.</span>embregos</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse header-menu" id="navbarText">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><span>INICIO</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">SOBRE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ULTIMAS OFERTAS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">FORMACAO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">CONTACTOS</a>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-hollow">ENTRA</button>
                    <button type="button" class="btn btn-primary">REGISTA-SE</button>
                </div>
            </nav>

        </div>
        <div id="navs-search">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">O EMPREGO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">O FUNCIONARIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">A EMPRESA</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="input-group">
                        <div class="input-border">
                            <input type="text" class="form-control firstInput" placeholder="p.e.professora" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <input type="text" class="form-control secondInput" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                        </div>
                        <div class="input-group-append">
                            <button class="btn search-button " type="button" id="button-addon2"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>


                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="input-group">
                        <div class="input-border">
                            <input type="text" class="form-control firstInput" placeholder="p.e.professora" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <input type="text" class="form-control secondInput" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                        </div>
                        <div class="input-group-append">
                            <button class="btn search-button" type="button" id="button-addon2"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="input-group">
                        <div class="input-border">
                            <input type="text" class="form-control firstInput" placeholder="p.e.professora" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <input type="text" class="form-control secondInput" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                        </div>
                        <div class="input-group-append">
                            <button class="btn search-button" type="button" id="button-addon2"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>