<div class="container-fluid">
    <div class="row new-list">
        <div class="col-12 col-md-4 new-list-item">
            <h5>Dicas</h5>
            <div class="media">
                <img src="images/dicasone.png" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="m-0">Como comportar-se na entrevista?</h5>
                     <p>10 DE MAIO, 2016</p>
                </div>
            </div>
            <div class="media">
                <img src="images/dicastwo.png" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="m-0">10 dicas para uma boa entrevista</h5>
                    <p>2 DE MAIO, 2016</p>
                </div>
            </div>
            <div class="media" style="border: 0">
                <img src="images/dicasthree.png" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="m-0">10 dicas para uma C.V. de sucesso</h5>
                    <p>18 DE ABRIL, 2016</p>
                </div>
            </div>

        </div>
        <div class="col-12 col-md-4 new-list-item">
            <h5>Artigos</h5>
            <div class="media">
                <img src="images/artigosone.png" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="m-0">Porque procurar um novo Emprego?</h5>
                    <p>10 DE MAIO, 2016</p>
                </div>
            </div>
            <div class="media">
                <img src="images/artigostwo.png" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="m-0">Quando procurar um novo Emprego?</h5>
                    <p>2 DE MAIO, 2016</p>
                </div>
            </div>
            <div class="media" style="border: 0">
                <img src="images/artigosthree.png" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="m-0">O que procurar num novo Emprego?</h5>
                    <p>18 DE ABRIL, 2016</p>
                </div>
            </div>

        </div>
        <div class="col-12 col-md-4 new-list-item">
            <h5>Forum</h5>
            <div class="media">
                <img src="images/forumone.png" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="m-0">Concurso para Bolsa de Pos..</h5>
                    <p>FABIO COELHO</p>
                </div>
            </div>
            <div class="media">
                <img src="images/forumtwo.png" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="m-0">Se voce quiser fazer algo diferente =)</h5>
                    <p>JOANA SANTOS</p>
                </div>
            </div>
            <div class="media" style="border: 0">
                <img src="images/forumthree.png" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="m-0">Onde encontrar bolsas?</h5>
                    <p>BILLHAID BJAHMA</p>
                </div>
            </div>

        </div>

    </div>

</div>