<div class="container-fluid">
    <div class="project-info">
        <h5>Bem-vindo ao maior site de emprego em Portugal</h5>
        <p>Este projecto pretende ser um ponto de referencia na area de servicos de oferta</p>
        <p>e procura de emprego atraves da Internet em Portugal</p>
    </div>
    <div class="container-fluid row project-info-list">
        <div class="col-12 col-md-3 project-info-list-item">
            <div class="card" style="width: 7rem;">
                <img src="images/candidad.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">3,530,683</h5>
                    <p class="card-text">CANDIDATOS REGISTADOS</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 project-info-list-item">
            <div class="card" style="width: 7rem;">
                <img src="images/register.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">144,337</h5>
                    <p class="card-text">EMPRESAS REGISTADAS</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 project-info-list-item">
            <div class="card" style="width: 7rem;">
                <img src="images/people.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">580,337</h5>
                    <p class="card-text">ENTREVISTAS POR MES</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 project-info-list-item">
            <div class="card" style="width: 7rem;">
                <img src="images/public.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">875,560</h5>
                    <p class="card-text">VAGAS PUBLICADAS</p>
                </div>
            </div>
        </div>

    </div>


</div>