.btn{
  font-size: 0.6875rem;
  padding: 8px 0.875rem;
  font-weight: 600;
}
.btn-primary{
  background-color:$primaryColor;
  border-color:$primaryColor;
}
.btn-hollow{
  background-color: rgba(255, 255, 255, .2);
  color: rgba(255, 255, 255, 0.68);
}
.search-button{
  background-color: $primaryColor;
  margin-left: 0.625rem;

  i{
    color: white;
    font-size: 1.75rem;
  }
}