$primaryColor: #2E76E1;
$secondaryColor: #FDE929;
$textSecondaryColor: #C4C4C4;
$textPrimaryColor: #222222;
$buttonBackgroundColor: #EAEAEA;
$fontFamily: 'Roboto', sans-serif;
$primarySecondColor: #1E63CA;
$iconColor: #4488ED;
$borderColor:#F2F2F2;