{% extends 'base.html.twig' %}
{% block content %}
    <div id="homepage">
        {% include 'partials/homepage/jumbotron.html.twig' %}
        {% include 'partials/homepage/features.html.twig' %}
        {% include 'partials/homepage/projects.html.twig' %}
        {% include 'partials/homepage/companylist.html.twig' %}
        {% include 'partials/homepage/employess.html.twig' %}
        {% include 'partials/homepage/anothercompanies.html.twig' %}
        {% include 'partials/homepage/newlist.html.twig' %}
        {% include 'partials/homepage/footer.html.twig' %}
    </div>
{% endblock %}



